dtftry-dtvkbootcamp-prd-flp/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dtftry-dtvkbootcamp-prd-flp"
		},
		"ls_datalk_strg_bootcamp_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_datalk_strg_bootcamp'"
		},
		"lnkdsvs_kv_bootcamp_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-dtvk-botcamp-prd-flp.vault.azure.net/"
		},
		"ls_datalk_strg_bootcamp_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsdtvkbootcampprdflp.dfs.core.windows.net/"
		},
		"ls_http_api_bootcamp_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dummyjson.com/users"
		},
		"ls_az_dtbcks_bootcamp_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0507-233833-1cwhof13"
		},
		"ls_webtable_bootcamp_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.dieese.org.br/analisecestabasica/salarioMinimo.html"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/2- ppln_set_variables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SVT - Define_data_particao",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_data_particao",
							"value": {
								"value": "@convertFromUtc(utcNow(), \n'E. South America Standard Time', 'yyyy/MM/dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVT - Define_diretorio_destino",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_diretorio_destino",
							"value": {
								"value": "@toLower(concat('Text', '/', 'ENEM'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVT - Define_arquivo_destino",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SVT - Define_diretorio_destino",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SVT - Define_data_particao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_arquivo_destino",
							"value": {
								"value": "@toLower(concat(variables('v_diretorio_destino'),\n'/', pipeline().parameters.p_assunto_origem, '',\n if(empty(variables('v_data_particao')), '',\n concat('/', variables('v_data_particao')))))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SVB- Define_diretorio_completo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SVT - Define_data_particao",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SVT - Define_diretorio_destino",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_diretorio_completo",
							"value": {
								"value": "@toLower(concat(variables('v_diretorio_destino'), '/',  pipeline().parameters.p_assunto_origem, if(empty(variables('v_data_particao')), '', concat('/', variables('v_data_particao')))))\n\n\n                ",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_assunto_origem": {
						"type": "string",
						"defaultValue": "prova_enem"
					},
					"p_diretorio_destino": {
						"type": "string",
						"defaultValue": "text/enem"
					},
					"p_container_destino": {
						"type": "string",
						"defaultValue": "raw"
					}
				},
				"variables": {
					"v_data_particao": {
						"type": "String"
					},
					"v_diretorio_destino": {
						"type": "String"
					},
					"v_arquivo_destino": {
						"type": "String"
					},
					"v_diretorio_completo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_teste')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnkdsvs_kv_bootcamp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Buscar chaves no meu key vault",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('lnkdsvs_kv_bootcamp_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datalk_strg_bootcamp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datalk_strg_bootcamp_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_datalk_strg_bootcamp_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_http_api_bootcamp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexão com api dummy.json para aula do bootcamp data viking",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_http_api_bootcamp_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integration-Runtime-Self-Hosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Pegar dados locais",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_static_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalk_strg_bootcamp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "study"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tb_payments.csv",
						"folderPath": "payments",
						"fileSystem": "transient"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalk_strg_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalk_strg_bootcamp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_diretorio": {
						"type": "string"
					},
					"p_arquivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Azure Storage Account"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_arquivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_diretorio",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalk_strg_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json_dummy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_api_bootcamp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Fontes Externas"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_api_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_text_dls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalk_strg_bootcamp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_diretorio": {
						"type": "string"
					},
					"p_arquivo": {
						"type": "string"
					},
					"p_delimitador": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Azure Storage Account"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_arquivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_diretorio",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().p_delimitador",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalk_strg_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_az_dtbcks_bootcamp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1263739687729793.13.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lnkdsvs_kv_bootcamp",
							"type": "LinkedServiceReference"
						},
						"secretName": "secret-adbricks-cl-bootcamp"
					},
					"existingClusterId": "[parameters('ls_az_dtbcks_bootcamp_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnkdsvs_kv_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_webtable_bootcamp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "recurso de webscraping da azure. Página utilizada é uma pesquisa de salário mínimo e cesta básicas do dieese.",
				"annotations": [],
				"type": "Web",
				"typeProperties": {
					"url": "[parameters('ls_webtable_bootcamp_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "integration-Runtime-Self-Hosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integration-Runtime-Self-Hosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1- ppln_api_dummy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPDT - Ingestao Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_json_dummy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_json_dl",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "raw",
									"p_diretorio": "apis/dummy",
									"p_arquivo": "clientes_yyyymmdd"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-09T18:45:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_json_dummy')]",
				"[concat(variables('factoryId'), '/datasets/ds_json_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3 - ppln_get_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GTM - Buscar_Arquivo",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_text_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": {
										"value": "@pipeline().parameters.p_container_origem",
										"type": "Expression"
									},
									"p_diretorio": {
										"value": "@pipeline().parameters.p_diretorio",
										"type": "Expression"
									},
									"p_arquivo": "*.csv",
									"p_delimitador": {
										"value": "@pipeline().parameters.p_delimitador",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "SVB - Lista_de_Arquivos",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GTM - Buscar_Arquivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_lista_arquivos",
							"value": {
								"value": "@activity('GTM - Buscar_Arquivo').output.childItems",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GTM - Valida_arquivo_existe",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_text_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": {
										"value": "@pipeline().parameters.p_container_origem",
										"type": "Expression"
									},
									"p_diretorio": {
										"value": "@pipeline().parameters.p_diretorio",
										"type": "Expression"
									},
									"p_arquivo": {
										"value": "@pipeline().parameters.p_arquivo",
										"type": "Expression"
									},
									"p_delimitador": {
										"value": "@pipeline().parameters.p_delimitador",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "SVB - Valida_arquivo_existe",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GTM - Valida_arquivo_existe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_arquivo_existe",
							"value": {
								"value": "@activity('GTM - Valida_arquivo_existe').output.exists",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_container_origem": {
						"type": "string"
					},
					"p_diretorio": {
						"type": "string"
					},
					"p_arquivo": {
						"type": "string"
					},
					"p_delimitador": {
						"type": "string"
					}
				},
				"variables": {
					"v_lista_arquivos": {
						"type": "Array"
					},
					"v_arquivo_existe": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_text_dls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4 - ppln_for_each')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GTM - Busca arquivos",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_text_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": {
										"value": "@pipeline().parameters.p_container_origem",
										"type": "Expression"
									},
									"p_diretorio": {
										"value": "@pipeline().parameters.p_diretorio",
										"type": "Expression"
									},
									"p_arquivo": "*.csv",
									"p_delimitador": {
										"value": "@pipeline().parameters.p_delimitador",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "SVB - lista de arquivos",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GTM - Busca arquivos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_lista_arquivos",
							"value": {
								"value": "@activity('GTM - Busca arquivos').output.childItems",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FHC - itera sobre a lista de arquivos",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SVB - lista de arquivos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('v_lista_arquivos')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Wait",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 3
									}
								},
								{
									"name": "SVB - Definir data_particao",
									"description": "",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Wait",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_data_particao",
										"value": {
											"value": "@convertFromUtc(utcnow(), 'E. South America Standard Time', 'yyyy/MM/dd')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SVB - Definir diretorio_completo",
									"description": "Atribui um valor à variável [v_diretorio_completo], a partir da concatenação do diretório destino, da coleção de origem e da data de partição.",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SVB - Definir data_particao",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_diretorio_completo",
										"value": {
											"value": "@toLower(\n    concat(\n        pipeline().parameters.p_diretorio_destino,\n        variables('v_diretorio_destino'),\n        '/', \n        pipeline().parameters.p_assunto_origem,\n        if(\n            empty(variables('v_data_particao')),\n            '',\n            concat('/', variables('v_data_particao'))\n        )\n    )\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CPD - Ingere arquivo na Raw",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SVB - Definir diretorio_completo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_text_dls",
											"type": "DatasetReference",
											"parameters": {
												"p_container": {
													"value": "@pipeline().parameters.p_container_origem",
													"type": "Expression"
												},
												"p_diretorio": {
													"value": "@pipeline().parameters.p_diretorio",
													"type": "Expression"
												},
												"p_arquivo": {
													"value": "@item().name",
													"type": "Expression"
												},
												"p_delimitador": {
													"value": "@pipeline().parameters.p_delimitador",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_text_dls",
											"type": "DatasetReference",
											"parameters": {
												"p_container": {
													"value": "@pipeline().parameters.p_container_destino",
													"type": "Expression"
												},
												"p_diretorio": {
													"value": "@variables('v_diretorio_completo')",
													"type": "Expression"
												},
												"p_arquivo": {
													"value": "@item().name",
													"type": "Expression"
												},
												"p_delimitador": {
													"value": "@pipeline().parameters.p_delimitador",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_container_origem": {
						"type": "string",
						"defaultValue": "transient"
					},
					"p_diretorio": {
						"type": "string",
						"defaultValue": "enem"
					},
					"p_arquivo": {
						"type": "string"
					},
					"p_delimitador": {
						"type": "string",
						"defaultValue": ","
					},
					"p_container_destino": {
						"type": "string",
						"defaultValue": "raw"
					},
					"p_diretorio_destino": {
						"type": "string",
						"defaultValue": "text/enem"
					},
					"p_assunto_origem": {
						"type": "string",
						"defaultValue": "prova_enem"
					}
				},
				"variables": {
					"v_lista_arquivos": {
						"type": "Array"
					},
					"v_data_particao": {
						"type": "String"
					},
					"v_diretorio_destino": {
						"type": "String"
					},
					"v_diretorio_completo": {
						"type": "String"
					},
					"v_arquivo_destino": {
						"type": "String"
					}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_text_dls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_webtable_dieese')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_webtable_bootcamp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Fontes Externas"
				},
				"annotations": [],
				"type": "WebTable",
				"schema": [],
				"typeProperties": {
					"index": 0
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_webtable_bootcamp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/0-ppline_web_scraping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPDT - Ingestao Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "WebSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Período",
											"type": "String"
										},
										"sink": {
											"name": "periodo",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salário mínimo nominal",
											"type": "String"
										},
										"sink": {
											"name": "salario_minimo_nominal",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salário mínimo necessário",
											"type": "String"
										},
										"sink": {
											"name": "salario_minimo_necessario",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_webtable_dieese",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_text_dls",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "raw",
									"p_diretorio": "web_scraping/salario_minimo",
									"p_arquivo": "valores_salario_minimo",
									"p_delimitador": ";"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "study activities"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-09T18:45:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_webtable_dieese')]",
				"[concat(variables('factoryId'), '/datasets/ds_text_dls')]"
			]
		}
	]
}